
body {
    background-color: antiquewhite;
    height: 100vh;
}
.center {
    background-color: white;
    width: 50%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image::after {
    content: '';
    clear: both;
}
.image {
    width: 50%;
    float: left;
    height: 25rem;
}
img {
    width: 100%; 
    border-radius: 10px;
    height: 100%;
    display: block;
}
.text {
    width: 50%;
    display: inline-block;
    height: 25rem;
    margin: 0 auto;
    position: relative;
    left: 10px;
}
.text-content {
    width: 80%;
    height: 90%;
    margin: 15px auto;
}
.title {
    font-family:'Montserrat', sans-serif;
    color: gray;
    letter-spacing: 4px;
}
h1 {
    font-family: 'Fraunces', serif;
}
.desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: gray;
}
.price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
    color: rgb(20, 109, 101);
    text-align: left; 
    margin: 20px auto 0;
}
#price-slash {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    font-size: small;
    color: gray;
    position: relative;
    bottom: 4px;
    left: 20px;
}
#cart {
    display: block;
    width: 100%;
    margin: 0 auto 25px;
    background-color: rgb(52, 146, 118);
    color: white;
    border-radius: 10px;
    border: 0;
    padding: .3rem 5rem;
}
#cart-icon {
    width: 20px;
    margin: 0 auto;
    position: relative;
    right: 50px;
    top: 7px; 
}
#cart-text {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 5px;
    bottom: 10px; 
}
/*<style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style> -->*/